* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.02em;
}

a {
    font-size: 18px;
    line-height: 20px;
    color: #8492a6;
    text-decoration: none;
}

/* ▼ WHERE YOUR CODE BEGINS */

ul {
    list-style-type: none;
    border-bottom: 1px silver solid;
}

li {
    float: left;
    margin-left: 16px;
}

.active {
    border-bottom: 2px rgb(50, 160, 255) solid;
}

.active > a {
    color: rgb(50, 160, 255);
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
}
